**Teste**

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

patients_data = pd.read_csv('heart_2022_with_nans.csv')
patients_data

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,NaN,No,...,NaN,NaN,NaN,No,No,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
1,Alabama,Female,Excellent,0.0,0.0,NaN,No,6.0,NaN,No,...,1.60,68.04,26.57,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
2,Alabama,Female,Very good,2.0,3.0,Within past year (anytime less than 12 months ...,Yes,5.0,NaN,No,...,1.57,63.50,25.61,No,No,No,No,NaN,No,Yes
3,Alabama,Female,Excellent,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,NaN,No,...,1.65,63.50,23.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Fair,2.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,NaN,No,...,1.57,53.98,21.77,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,Virgin Islands,Female,Good,0.0,3.0,Within past 2 years (1 year but less than 2 ye...,Yes,6.0,None of them,No,...,1.65,69.85,25.63,NaN,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes
445128,Virgin Islands,Female,Excellent,2.0,2.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.70,83.01,28.66,No,Yes,Yes,No,"Yes, received tetanus shot but not sure what type",No,No
445129,Virgin Islands,Female,Poor,30.0,30.0,5 or more years ago,No,5.0,1 to 5,No,...,1.70,49.90,17.23,NaN,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
445130,Virgin Islands,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,5.0,None of them,Yes,...,1.83,108.86,32.55,No,Yes,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
445131,Virgin Islands,Male,Very good,0.0,1.0,NaN,Yes,5.0,None of them,No,...,1.68,63.50,22.60,Yes,No,No,No,"Yes, received tetanus shot but not sure what type",No,No

informações sobre as variáveis quantitativas

In [7]:
patients_data.describe()

,PhysicalHealthDays,MentalHealthDays,SleepHours,HeightInMeters,WeightInKilograms,BMI
count,434205.000000,436065.000000,439679.000000,416480.000000,403054.000000,396326.000000
mean,4.347919,4.382649,7.022983,1.702691,83.074470,28.529842
std,8.688912,8.387475,1.502425,0.107177,21.448173,6.554889
min,0.000000,0.000000,1.000000,0.910000,22.680000,12.020000
25%,0.000000,0.000000,6.000000,1.630000,68.040000,24.130000
50%,0.000000,0.000000,7.000000,1.700000,80.740000,27.440000
75%,3.000000,5.000000,8.000000,1.780000,95.250000,31.750000
max,30.000000,30.000000,24.000000,2.410000,292.570000,99.640000

tratamento

In [26]:
patients_data = patients_data.drop(columns=['State'], axis=1)
patients_data.isnull().sum()

Sex                              0
GeneralHealth                 1198
PhysicalHealthDays           10927
MentalHealthDays              9067
LastCheckupTime               8308
PhysicalActivities            1093
SleepHours                    5453
RemovedTeeth                 11360
HadHeartAttack                3065
HadAngina                     4405
HadStroke                     1557
HadAsthma                     1773
HadSkinCancer                 3143
HadCOPD                       2219
HadDepressiveDisorder         2812
HadKidneyDisease              1926
HadArthritis                  2633
HadDiabetes                   1087
DeafOrHardOfHearing          20647
BlindOrVisionDifficulty      21564
DifficultyConcentrating      24240
DifficultyWalking            24012
DifficultyDressingBathing    23915
DifficultyErrands            25656
SmokerStatus                 35462
ECigaretteUsage              35660
ChestScan                    56046
RaceEthnicityCategory        14057
AgeCategory                   9079
HeightInMeters               28652
WeightInKilograms            42078
BMI                          48806
AlcoholDrinkers              46574
HIVTesting                   66127
FluVaxLast12                 47121
PneumoVaxEver                77040
TetanusLast10Tdap            82516
HighRiskLastYear             50623
CovidPos                     50764
dtype: int64

In [27]:
patients_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 39 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Sex                        445132 non-null  object
 1   GeneralHealth              443934 non-null  object
 2   PhysicalHealthDays         434205 non-null  float64
 3   MentalHealthDays           436065 non-null  float64
 4   LastCheckupTime            436824 non-null  object
 5   PhysicalActivities         444039 non-null  object
 6   SleepHours                 439679 non-null  float64
 7   RemovedTeeth               433772 non-null  object
 8   HadHeartAttack             442067 non-null  object
 9   HadAngina                  440727 non-null  object
 10  HadStroke                  443575 non-null  object
 11  HadAsthma                  443359 non-null  object
 12  HadSkinCancer              441989 non-null  object
 13  HadCOPD                    442913 non-null  object
 14  HadDepressiveDisorder      442320 non-null  object
 15  HadKidneyDisease           443206 non-null  object
 16  HadArthritis               442499 non-null  object
 17  HadDiabetes                444045 non-null  object
 18  DeafOrHardOfHearing        424485 non-null  object
 19  BlindOrVisionDifficulty    423568 non-null  object
 20  DifficultyConcentrating    420892 non-null  object
 21  DifficultyWalking          421120 non-null  object
 22  DifficultyDressingBathing  421217 non-null  object
 23  DifficultyErrands          419476 non-null  object
 24  SmokerStatus               409670 non-null  object
 25  ECigaretteUsage            409472 non-null  object
 26  ChestScan                  389086 non-null  object
 27  RaceEthnicityCategory      431075 non-null  object
 28  AgeCategory                436053 non-null  object
 29  HeightInMeters             416480 non-null  float64
 30  WeightInKilograms          403054 non-null  float64
 31  BMI                        396326 non-null  float64
 32  AlcoholDrinkers            398558 non-null  object
 33  HIVTesting                 379005 non-null  object
 34  FluVaxLast12               398011 non-null  object
 35  PneumoVaxEver              368092 non-null  object
 36  TetanusLast10Tdap          362616 non-null  object
 37  HighRiskLastYear           394509 non-null  object
 38  CovidPos                   394368 non-null  object
dtypes: float64(6), object(33)
memory usage: 132.4+ MB

In [29]:
encoded_patients_data = patients_data.copy()

In [13]:
label_encoder_general_health = LabelEncoder()

encoded_patients_data['GeneralHealth'] = label_encoder_general_health.fit_transform(encoded_patients_data['GeneralHealth'])
encoded_patients_data['GeneralHealth']

0         4
1         0
2         4
3         0
4         1
         ..
445127    2
445128    0
445129    3
445130    4
445131    4
Name: GeneralHealth, Length: 445132, dtype: int64

In [14]:
label_encoder_last_checkup = LabelEncoder()

encoded_patients_data['LastCheckupTime'] = label_encoder_last_checkup.fit_transform(encoded_patients_data['LastCheckupTime'])
encoded_patients_data['LastCheckupTime']

0         3
1         4
2         3
3         3
4         3
         ..
445127    1
445128    3
445129    0
445130    3
445131    4
Name: LastCheckupTime, Length: 445132, dtype: int64

In [15]:
label_encoder_age_category = LabelEncoder()

encoded_patients_data['AgeCategory'] = label_encoder_age_category.fit_transform(encoded_patients_data['AgeCategory'])
encoded_patients_data['AgeCategory']

0         12
1         12
2          7
3         13
4          4
          ..
445127     0
445128     6
445129     9
445130    10
445131     4
Name: AgeCategory, Length: 445132, dtype: int64

In [16]:
label_encoder_tetanus_shot = LabelEncoder()

encoded_patients_data['TetanusLast10Tdap'] = label_encoder_tetanus_shot.fit_transform(encoded_patients_data['TetanusLast10Tdap'])
encoded_patients_data['TetanusLast10Tdap']

0         2
1         0
2         4
3         0
4         0
         ..
445127    0
445128    2
445129    0
445130    0
445131    2
Name: TetanusLast10Tdap, Length: 445132, dtype: int64

In [18]:
label_encoder_removed_teeth = LabelEncoder()

encoded_patients_data['RemovedTeeth'] = label_encoder_removed_teeth.fit_transform(encoded_patients_data['RemovedTeeth'])
encoded_patients_data['RemovedTeeth']

0         4
1         4
2         4
3         4
4         4
         ..
445127    3
445128    3
445129    0
445130    3
445131    3
Name: RemovedTeeth, Length: 445132, dtype: int64

In [19]:
patients_data['HadDepressiveDisorder']

0          No
1          No
2          No
3          No
4          No
         ...
445127    Yes
445128     No
445129     No
445130     No
445131     No
Name: HadDepressiveDisorder, Length: 445132, dtype: object

gráficos

In [20]:
len(encoded_patients_data)

445132

In [23]:
patients_data['RemovedTeeth'].unique()

array([nan, 'None of them', '1 to 5', '6 or more, but not all', 'All'],
      dtype=object)